@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:wght@400;700&display=swap');

.inter {
    font-family: 'Inter', sans-serif;
}

.roboto {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}


@media (min-width: 600px) {
    .roboto {
        font-family: 'Open Sans', sans-serif;
        font-size:1.2rem;
    }
}